<html>
<head>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/bacon.min.js"></script>
  <script src="lib/bacon.model.min.js"></script>
  <script src="lib/bacon.jquery.min.js"></script>
  <script src="lib/handlebars.min.js"></script>
  <script>
    {{{javascript}}}
  </script>
  <style type='text/css'>
    .clearfix:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
    }
    .clearfix {
      display: inline-block;
    }
    .clearfix {
      display: block;
    }
    html, body {
      width: 100%;
      height: 100%;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    }
    #main-wrapper {
      display: table;
      width: 100%;
      height: 100%;
    }
    #main-widget-container {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }
    #main-widget-container > * {
      position: relative;
      top: -15%;
    }
    #demo-ui {
      text-align: center;
    }
    #demo-btns {
      display: inline-block;
    }
  </style>
</head>
<body>
<div id="main-wrapper">
  <div id="main-widget-container">
  {{{html}}}
  </div>
</div>
</body>
</html>